.room {
  align-self: center;
  background: white;
  transition-duration: 500ms;
  height: 6vh;
  line-height: 6vh;
}

.room:hover {
  background: lightgray;
  cursor: pointer;
}

.selectedRoom {
  background: darkgray;
}

.roomList {
  /* background: limegreen; */
  text-align: center;

  background: red;
  margin: auto;
}
