.roomList {
  /* background: limegreen; */
  text-align: center;

  background: red;
  margin: auto;
}
.room {
  align-self: center;
  background: white;
  transition-duration: 500ms;
  height: 6vh;
  line-height: 6vh;
}

.room:hover {
  background: #f2f2f2;
  opacity: 50;
  cursor: pointer;
}

.selectedRoom {
  background: lightgrey;
}
.selectedRoom:hover {
  background: lightgrey;
}

.roomName {
  margin-right: 30px;
}

.boka {
  height: 6vh;
}

.timeBooked {
  width: 24vh;
  height: 6vh;
  float: right;
}
