#control {
  width: 100%;
  height: 70vh;
}

#control > h1 {
  margin: 0;
  padding: 5% 0;
  font-size: 2em;
  font-family: cursive;
  text-align: center;
}

.slider,
.switch {
  height: 14vh;
}

.switch {
  /* background: red; */
  /* left: calc(50% - 30px); */
  margin: 0 30px;
}

.switchContainer {
  margin: -4vh 0 20px 10%;

  width: 80%;
  /* background: red; */
  /* margin-left: 25%; */
  text-align: center;
}

.controlContainer {
  /*padding-left: calc(50% - 150px);*/
  width: 80%;
  margin: 0 auto;
}

#button_map {
  margin-top: -20px;
  width: 60px;
  height: 40px;
  margin-left: calc(50% - 30px);
  background-color: lightcoral;
}

#button_map > span > a {
  text-decoration: none;
  color: black;
}
